.nav{
    background-color:greenyellow;
    height:70px;
    color:black;
    display:flex;
    justify-content: space-between;
}

.title{
    padding:20px;
    margin-left:50px;
    font-size: xx-large;
    font-weight: 500;

}

.icon{
    height:60px;
    padding:10px;
    
    

}

.cartCount{
    font-size: 30px;
    position:relative;
    top:-35px;
    right:40px;
    color:violet;

}